.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Styles */
.card-image {
  width: 430px;
  height: 602px;
  border-radius: 10px;
}

.card-cost-container {
  position: absolute;

  height: 40px;
  width: 40px;
  line-height: 35px;
  left: 0px;

  border: solid;
  border-radius: 50%;

  background-color: white;
  opacity: 80%;
  text-align: center;
  float: left;
}

.card-name-container {
  position: absolute;
  height: 40px;
  width: 350px;
  line-height: 25px;
  right: 0px;

  border: solid;
  border-radius: 10px;

  background-color: white;
  opacity: 80%;
  text-align: center;
  float:left;
}

.card-text-container {
  border: solid;
  border-radius: 10px;
  background-color: white;
  opacity: 80%;
  text-align: center;
}

.card-top {
  position: absolute;
  top: 0px;
  width: 410px;
  margin: 10px !important;
  font-weight: bold;
}

.card-middle {
  position: absolute;
  bottom: 50px;
  width: 410px;
  margin: 10px !important;
}

.card-bottom {
  position: absolute;
  bottom: 0px;
  width: 410px;
  margin: 10px !important;
  font-weight: bold;
}